/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/* --- CSS RESET END --- */
:root {
  --green-color: #2c6d00;
  --midle-green-color: #559b27;
  --light-green-color: #9cbb0c;
}

body {
  background-image: url("../img/green.png");
  font-family: "Syne Mono", monospace, sans-serif;
  color: var(--green-color);
}

a:visited {
  color: var(--green-color);
}

a:hover {
  color: var(--midle-green-color);
}

header {
  width: 100%;
  position: fixed;
  background-image: url("../img/green.png");
  background-attachment: fixed;
  padding-bottom: 35px;
}
main {
  padding-top: 120px;
}

h1 {
  margin: 10px 0px;
  font-size: 300%;
  text-align: center;
}

h2 {
  margin: 10px 0px;
  font-size: 12px;
  text-align: center;
}
.nav-menu {
  margin: 0px 45px;
  padding: 3px;
  border: 2px solid var(--green-color);
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav-menu ul li a {
  font-size: 12px;
  text-align: center;
}

#plantDiscovery {
  margin: 10px;
}
#nav-plant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#ediblePlantBtn {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  padding: 3px;
  background-color: var(--light-green-color);
  border: 2px solid var(--green-color);
  position: fixed;
}
#randomEdiblePlant {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#randomEdiblePlant div {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding: 8px;
}

#randomEdiblePlant div div {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

#randomEdiblePlant h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
#randomEdiblePlant img {
  width: 50%;
}

.form-wrapper {
  margin-top: 30px;
}
.login-form,
.signup-form {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input {
  background-color: var(--light-green-color);
  color: var(--green-color);
}

button {
  background-color: var(--light-green-color);
  border: 2px solid var(--green-color);
  color: var(--green-color);
}

@media (min-width: 600px) {
  h1 {
    font-size: 400%;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-top: 170px;
  }
  .nav-menu {
    margin: 20px 105px;
    padding: 6px;
  }
  .nav-menu ul li a {
    font-size: 18px;
  }
  #ediblePlantBtn {
    font-size: 20px;
    padding: 6px;
    background-color: var(--light-green-color);
    border: 2px solid var(--green-color);
  }
  #randomEdiblePlant h3 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  #randomEdiblePlant div div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 500%;
  }
  h2 {
    font-size: 25px;
  }
  main {
    padding-top: 200px;
  }
  .nav-menu {
    margin: 20px 205px;
    padding: 6px 50px;
  }
  .nav-menu ul li a {
    font-size: 22px;
  }
  #randomEdiblePlant div div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
}
